* {
  font-family: 'Arial';

  margin: 0;
  padding: 0;
  border: 0;
}


#main {
  background-color: royalblue;
}

#main-title {
  font-family: "Impact";
  font-size: 7em;

  color: cornflowerblue;

  position: absolute;
  right: 10%;
  bottom: 10%;
}

#nav {
  list-style: none;

  background-color: cornflowerblue;

  overflow: hidden;
}
#nav li {
  font-size: 2em;

  width: 10%;
  padding: 0.3%;
  float: left;
  text-align: center;
}
#nav li:hover {
  background-color: white;
}
#nav a li {
  text-decoration: none;

  color: darkblue;
}